<div class="table-responsive-md table-main">
  <table class="table table-striped table-custom">
    <thead>
      <!-- <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr> -->
    </thead>
    <tbody>
      <tr routerLink="/competitions/team/1">
        <th scope="row">logo</th>
        <td>Mancity</td>
        <td>></td>
      </tr>
      <tr>
        <th scope="row">logo</th>
        <td>Liverpool</td>
        <td>></td>
      </tr>
      <tr>
        <th scope="row">logo</th>
        <td>Chelsea</td>
        <td>></td>
      </tr>
    </tbody>
  </table>
</div>

