<section class="table-main">

  <div class="table-responsive-md">
    <table class="table table-striped table-custom">
      <thead>
        <!-- <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr> -->
      </thead>
      <tbody>
        <tr (click)="viewTeam(team)" *ngFor="let team of teams;">
          <th scope="row">
            <img alt="team-crest" class="table-team-crest" width="50" [src]="team['crest']">
          </th>
          <td>{{team['name']}}</td>
          <td>></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- button -->
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6 table-btn-container">
      <button class="table-btns mr-3">< PREV</button>
      <button class="table-btns">NEXT ></button>
    </div>
  </div>
</section>
