@import 'abstracts/variables';
@import 'abstracts/mixins';


$icon-font-size: 14px;

.top-bar {
  background: $bg-color-black;
  height: 80px;
  // height: 50px;

  .social-media {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    // width: 10%; not small screen
    padding: 6px;

    .social-media-links-1 {
      align-self: center;

      .icons {
        width: 15px;
        height: 15px; 
      }

    }

    .social-media-links {

      .icons {
        width: 15px;
        height: 20px; 
        // height: 40px; 
      }

    }
  }

  .top-text {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    // width: 10%; not small screen
    // padding: 6px;

    .top-text-details {
      color: $text-color-w;
      font-size: $icon-font-size;
      text-align: center;
    }
  }

  .top-text-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 10%; not small screen
    // padding: 6px;

    .top-text-details {
      color: $text-color-w;
      font-size: $icon-font-size;
      text-align: center;

      .set-color {
        color: $accents;
      }

      .icons {
        width: 15px;
        height: 20px;
      }
    }
  }
}

.logo-text {
  @include font-looks(0.9em, $text-color-b);
}

.league-default {
  width: 100%;
  margin: 0 0 0 -15px;
}

.league-nav {
  list-style: none;
  display: flex;
  align-content: space-around;
  border: 1px solid #ECECEC;
  margin: 0;
  @include font-looks(0.9em, $text-color-b);
  font-weight: bold;

  .league-nav-list {
    padding: 1% 2%;
    border-left: 1px solid #ECECEC;
  }
}

.drop-down {
  display: none;
  position: absolute;
  top: 11.6em;
  background: #ffffff;
  height: 15em;
  width: 100%;
  box-shadow: -5px 2px 7px 0px #626271;
  border-bottom: 5px solid #FDC624;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.drop-down-list {
  height: 2.5em;
  box-sizing: border-box;
  padding: 0.6em;

  &:hover {
    cursor: pointer;
  }
}

.drop-down-img {
  width: 20px;
  height: 20px;
}

.drop-down-text {
  @include font-looks(1rem, $text-color-b);
}

// media queries

@media (max-width: 350px) { 
  .logo-text {
    @include font-looks(0.7em, $text-color-b);
  }
}

@media (min-width: 768px) {

  .top-bar {
    height: 50px;

    .social-media {
      width: 18%;
    }

    .top-text {
      width: 24%;

      .top-text-details {
        border-left: 1px solid #626271;
        padding-left: 9px;
      }
    }

    .top-text-1 {
      display: inline-flex;
      float: right;
      padding-top: 8px;

      .top-text-details {
        margin-left: 1.5rem;
        border-left: 1px solid #626271;
        padding-left: 13px;
      }
    }
  }

}

@media (min-width: 992px) {
  .top-bar {
    height: 50px;

    .social-media {
      width: 18%;
    }
    
    .top-text {

      .top-text-details {
        border-left: 1px solid #626271;
        padding-left: 9px;
      }
    }

    .top-text-1 {

      .top-text-details {
        border-left: 1px solid #626271;
        padding-left: 13px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .top-bar {

      .social-media {
        width: 11%;
      }
      
    .top-text {
      width: 19%;
    }

    .top-text-1 {

      .top-text-details {
        border-left: 1px solid #626271;
        padding-left: 18px;
      }
    }
  }
}