@import 'abstracts/variables';
@import 'abstracts/mixins';

.scores {
  padding-left: 0px;
  font-weight: bold;

  .score {
    padding: 5px 10px;
    background-color: #FDC624;
  }
}

// media query
@media (max-width: 350px) { 
  .scores {

    .score {
      padding: 2px 2px;
    }
  }
}

