@import 'abstracts/variables';
@import 'abstracts/mixins';


.back-btn {
  height: 10%;
  width: 10%;
}
.team-card {
  background: linear-gradient(45deg, #FDC624, transparent);
  box-shadow: -2px 3px 6px 2px #bfc1c3;
}
.team-crest {
  width: 5em;
}
.team-sub {
  margin-left: 11px;
}
.scores {
  padding-left: 0px;
  font-weight: bold;

  .score {
    padding: 5px 10px;
    background-color: #FDC624;
  }
}

// media query
@media (max-width: 350px) { 
  .scores {

    .score {
      padding: 2px 2px;
    }
  }
}

@media (min-width: 768px) { 
  
  .back-btn {
    height: 2%;
    width: 2%;
  }
}

@media (min-width: 1024px) { 
  
  .team-crest {
    width: 7em;
  }
  
}

@media (min-width: 1280px) { 
  
  .team-crest {
    width: 10em;
  }
  
}