
// colors
$accents: #FDC624;
$text-color-b: #23262B;
$text-color-w: #FFFFFF;
$bg-color-default: #FFFFFF;
$bg-color-black: #25252F;
$mute-color: #D1D1D3;

// font family
$font-family: 'Poppins', sans-serif;