/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet');

@import 'abstracts/variables';
@import 'abstracts/mixins';


body {
 font-family: $font-family;
 background: $bg-color-default;
 width: 100%;
}

a {

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.table-main {
  margin: 2% 0 5% 0;

  .table-custom {
    margin-left: 10px;
    @include font-looks(12px, #3B3B45)
  }
}

.table {
  tbody {
    tr {
      &:hover {
        background-color: rgba(253, 198, 36, 0.4);
        cursor: pointer;
      }
    }
  }
}


.table-btns {
  @include btn-generator($accents, #E8C75E);
  font-size: 13px;
  width: 40%;
}
